header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.side-nav {
  width: 350px;
}

.espaco {
  margin-top: 65px;
}

img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 992px){
.menu-icon {
color: black;
font-size: 40px;
position: absolute;
z-index: 99999999;
margin-top: -53px;
}
}

.mat-sidenav  {
  transform: translate3d(0px, 0px, 0px);
  width: 300px;
  visibility: visible;
}