<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ul id="slide-out" class="side-nav fixed">
  <div class="espaco">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="assets/img/energia.jpg">
        </div>
        <a><img class="circle" src="assets/img/aerogerador.png  "></a>
        <a href="#!name"><span class="white-text name"></span></a>
        <a href="#!email"><span class="white-text email"></span></a>
      </div>
    </li>
    <li><a href="#!"><i class="material-icons">home</i>Início</a></li>
    <li><a href="#!"><i class="material-icons">history</i>Histórico</a></li>
    <li><a href="#!"><i class="material-icons">keyboard_arrow_right</i>Item 1</a></li>
    <li><a href="#!"><i class="material-icons">keyboard_arrow_right</i>Item 2</a></li>
    <li><a href="#!"><i class="material-icons">keyboard_arrow_right</i>Item 3</a></li>
    <li><a href="#!"><i class="material-icons">keyboard_arrow_right</i>Item 4</a></li>
    <li><a href="#!"><i class="material-icons">info</i>Sobre</a></li>
    <li>
  </div>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons menu-icon">menu</i></a>
