
    nav {
      background-color: #F2F2F2;
    }
    .nav-wrapper { 
      margin-left: 10px;
    }

    nav .brand-logo {
      color: #424242;
    }

    nav ul a {
      color: #001B4A;
      font-weight: bold;
    }