<ion-item>
  <ion-label>Primerio ano</ion-label>
  <ion-datetime displayFormat="YYYY" min="2010" [(ngModel)]="initYear" placeholder="{{initYear}}"></ion-datetime>
</ion-item> 
<ion-item>
  <ion-label>Segundo ano</ion-label>
  <ion-datetime displayFormat="YYYY" min="2010" [(ngModel)]="finalYear" placeholder="{{finalYear}}" ></ion-datetime>
</ion-item> 

<div class="button-centering">
  <button ion-button round (click)="updateYear()">Gerar Gráfico</button>
</div>

<div class="col-md-6">

  <canvas baseChart width="300" height="300" 
    [hidden]="!showChart"
    [datasets]="lineChartData" 
    [labels]="lineChartLabels" 
    [options]="lineChartOptions" 
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)" 
    (chartClick)="chartClicked($event)">
  </canvas>

</div>