<button (click)="isLinear=!isLinear" id="toggle-linear">Enable linear</button>
<md-vertical-stepper [linear]="isLinear">
  <md-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Escolha as informações</ng-template>
      <md-form-field>
        <div class="row">
          <div id="seletor" class="col s6 offset-s3">
            <div class="col s12 m6 l3 seletorBotao">
              <md-checkbox class="example-margin" formControlName="vento" [(ngModel)]="vento">Velocidade do Vento</md-checkbox>
            </div>
            <div class="col s12 m6 l3 seletorBotao">
              <md-checkbox class="example-margin" formControlName="tensao" [(ngModel)]="tensao">Tensão</md-checkbox>
            </div>
            <div class="col s12 m6 l3 seletorBotao">
              <md-checkbox class="example-margin" formControlName="corrente" [(ngModel)]="corrente">Corrente</md-checkbox>
            </div>
            <div class="col s12 m6 l3 seletorBotao">
              <md-checkbox class="example-margin" formControlName="potencia" [(ngModel)]="potencia">Potência</md-checkbox>
            </div>
          </div>
        </div>
      </md-form-field>
      <div>
        
      </div>
      <div>
        <button md-button mdStepperNext [disabled]="!(vento || tensao || corrente || potencia)">Próximo</button>
      </div>
    </form>
  </md-step>
  <md-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>Início do período</ng-template>
      <div class="row">
        <md-form-field class="col s6 offset-s3">
          <input mdInput [mdDatepicker]="picker" placeholder="Selecione o início">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker startView="year" touchUi="true" #picker></md-datepicker>
        </md-form-field>
      </div>
      <div>
        <button md-button mdStepperPrevious>Voltar</button>
        <button md-button mdStepperNext>Próximo</button>
      </div>
    </form>
  </md-step>
  <md-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template mdStepLabel>Fim do período</ng-template>
      <div class="row">
        <md-form-field class="col s6 offset-s3">
          <input mdInput [mdDatepicker]="picker1" placeholder="Selecione o fim">
          <md-datepicker-toggle mdSuffix [for]="picker1"></md-datepicker-toggle>
          <md-datepicker startView="year" touchUi="true" #picker1></md-datepicker>
        </md-form-field>
      </div>
      <div>
        <button md-button mdStepperPrevious>Voltar</button>
        <button md-button mdStepperNext>Próximo</button>
      </div>
    </form>
  </md-step>
  <md-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template mdStepLabel>Frequência dos dados</ng-template>
        <div class="row">
          <md-form-field class="col s5 offset-s4">
              <md-select placeholder="Informa a frequência">
                  <md-option *ngFor="let frequency of frequency" [value]="frequency.value">
                    {{ frequency.viewValue }}
                  </md-option>
                </md-select>
          </md-form-field>
        </div>
        <div>
          <button md-button mdStepperPrevious>Voltar</button>
          <button md-button mdStepperNext>Próximo</button>
        </div>
      </form>
    </md-step>
  <md-step>
    <ng-template mdStepLabel>Feito</ng-template>
    <div class="row">
      <div class="col s6 offset-s3" style="text-align: center;">
        <span>Relatório criado com sucesso! </span>
        <i class="material-icons">file_download</i>
      </div>
    </div>
    <div>
      <button md-button mdStepperPrevious>Voltar</button>
    </div>
  </md-step>
</md-vertical-stepper>
<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container mdColumnDef="position">
      <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.position}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="weight">
      <md-header-cell *mdHeaderCellDef> Weight </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.weight}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="symbol">
      <md-header-cell *mdHeaderCellDef> Symbol </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.symbol}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>