<button (click)="isLinear=!isLinear" id="toggle-linear">Enable linear</button>
<md-horizontal-stepper [linear]="isLinear">
  <md-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Escolha as informações</ng-template>
      <md-form-field>
        <input mdInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperNext>Próximo</button>
      </div>
    </form>
  </md-step>
  <md-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>Selecione o período</ng-template>
      <md-form-field>
        <input mdInput placeholder="Address" formControlName="secondCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperPrevious>Voltar</button>
        <button md-button mdStepperNext>Próximo</button>
      </div>
    </form>
  </md-step>
  <md-step>
    <ng-template mdStepLabel>Feito</ng-template>
    Relatório criado com sucesso!
    <div>
      <button md-button mdStepperPrevious>Voltar</button>
    </div>
  </md-step>
</md-horizontal-stepper>