turbine-data {
  ion-card {
    position: relative;
    text-align: center;
    height: max-content;
    background: #F2F2F2 !important;
  }

  ion-item {
    height: 200px;
    background: #FF0000 !important;
  }

  img.img_card {
    height: 65px;
    width: 65px;
    border-radius: 0%;
  }

  .card-title {
    position: right;
    margin-bottom: 30px;
    top: 20%;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    color: #001B4A;
  }

  .card-subtitle {
    font-size: 2em;
    position: absolute;
    top: 40%;
    width: 100%;
    font-weight: bold;
    margin-left: 30%;
    color: #488aff;
  }

}
