turbine-data {
  ion-card {
    position: relative;
    text-align: center;
    height: max-content;
    background: #F2F2F2 !important;
  }

  ion-item {
    background: #FF0000 !important;
  }

  img.img_card {
    height: 55px;
    width: 55px;
    border-radius: 0%;
  }

  .card-title {
    position: right;
    font-size: 1.3em;
    font-weight: bold;
    color: #001B4A;
  }

  .card-subtitle {
    font-size: 2em;
    position: absolute;
    top: 10%;
    width: 100%;
    font-weight: bold;
    margin-left: 10%;
    color: #488aff;
  }

}