.mat-drawer-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

nav .brand-logo {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bolder;
}
    
nav ul a {
   color: #ffffff;
   font-weight: bold;
} 
nav {
  background-color: #2196F3;
}

.nav-wrapper { 
  margin-left: 10px;
}

.material-icons {
  color: white;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dropdown-content .material-icons {
  color: black;
}
button:focus {
  background-color: #F2F2F2;
}

#floating-menu {
  background-color: #2196F3;
}

#floating-menu-item {
  background-color: #001B4A;
}

@media only screen  and (max-width: 50000px) and (min-width: 993px) {
  .fixed-action-btn {
    display: none;
  }

  .brand-logo {
    margin-left: 3%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0 !important;
  width: 100px;
  top: 100%;
  left: 50%; 
  margin-left: -50px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#nav-mobile {
  margin-right: 3%;
}

@media only screen  and (max-width: 422px) {
  .brand-logo {
    font-size: 22px;
  }
}