.mat-drawer-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

nav .brand-logo {
  color: #424242;
}
    
nav ul a {
   color: #001B4A;
   font-weight: bold;
} 
nav {
  background-color: #F2F2F2;
}

.nav-wrapper { 
  margin-left: 10px;
}

.material-icons {
  color: black;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

button:focus {
  background-color: #F2F2F2;
}


md-sidenav {
  width: 300px; 
}

@media screen and (max-width: 600px) {
  md-sidenav {
    width: 225px; 
  }
  
  button {
  bottom: 8px;
  left: -15px;
}
}