.mat-drawer-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

nav .brand-logo {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bolder;
}
    
nav ul a {
   color: #ffffff;
   font-weight: bold;
} 
nav {
  background-color: #2196F3;
}

.nav-wrapper { 
  margin-left: 10px;
}

.material-icons {
  color: black;
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

button:focus {
  background-color: #F2F2F2;
}

